@media (max-width: 1100px) {

  .nav {
    display: block;
  }

  .nav-logo {
    margin: 0 auto;
  }

  .heading {
    display: block;
    width: 80%;
    top: 60%;
  }

  .heading-text {
    font-size: 2.5rem;
    margin-top: 3rem;
  }

  .contact-icon {
    display: none;
  }

  .team-image {
    justify-content: center;
  }
}

@media (max-width: 900px) {

  .schedule-container {
    display: block;
    text-align: center;
    margin: 4rem auto;
    border: none;
  }

  .schedule-icon {
    display: none;
  }

  .schedule ul {
    margin-top: 1.5rem;
  }

  .team-text {
    margin-bottom: 2rem;
  }
}

@media (max-width: 600px) {

  .header {
    height: 80vh;
  }

  .headings {
    font-size: 1.3rem;
  }

  .heading {
    top: 55%;
  }

  .heading-text {
    font-size: 1.8rem;
  }

  .btn-container {
    flex-direction: column;
    width: 250px;
    margin: 2rem auto;
  }

  .btn-black {
    margin-top: 1rem;
    font-size: .8rem;
    margin-right: 0;
  }


  
}